# ==========================================
# VARIABLES DE ENTORNO GLOBALES (PLANTILLA)
# Renombra este archivo a ".env" y llena los valores
# ==========================================

# --------------------------
# Next.js (Base de datos Pacientes - Prisma)
# --------------------------
DATABASE_URL="postgresql://user:pass@host:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://user:pass@host:5432/postgres"

# --------------------------
# Java Spring Boot (Base de datos Gestion)
# --------------------------
DB_URL=jdbc:postgresql://host:5432/postgres
DB_USER=tusuario
DB_PASS=tucontrasena
SPRING_PROFILES_ACTIVE=dev

# --------------------------
# Integracion Supabase Auth (Compartido)
# --------------------------
SUPABASE_URL=https://TU_PROYECTO.supabase.co
SUPABASE_ISSUER=https://TU_PROYECTO.supabase.co/auth/v1
SUPABASE_JWKS_URI=https://TU_PROYECTO.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui

# --------------------------
# Otras configuraciones de puertos
# --------------------------
PORT=3000
BLOCKCHAIN_URL=http://localhost:3001
CORS_ORIGINS=http://localhost:4200
